from aoc_base import {{ baseclass }}, answer


class Solution({{ baseclass }}):
    _year = {{ year }}
    _day = {{ day }}

    @answer((None, None))
    def solve(self):
        pass
#        return (None, None)
