from ...base import StrSplitSolution, answer


class Solution(StrSplitSolution):
    _year = {{ year }}
    _day = {{ day }}

    @answer((None, None))
    def solve(self):
        pass
#        return (None, None)
